<mat-sidenav-container class="ao-item-view ao-recipe-view-sidenav-container sidenav-container">
    <mat-sidenav-content>

        <div class="ao-padding">
            <section>
                <h1 class="mat-h1" style="margin-bottom: 60px;">{{title}}</h1>
                <p *ngIf="description">{{description}}}</p>
                <mat-form-field *ngIf="item && item.attributes">
                    <mat-label>Description</mat-label>
                    <textarea matInput [(ngModel)]="item.attributes.description" (ngModelChange)="saveItem();"
                        placeholder="Type a description for your recipe"></textarea>
                </mat-form-field>
            </section>
            <section *ngIf="models && models.length > 0">
                <h2 class="mat-h2">Models</h2>
                <p class="mat-body">This is the list of models based on this recipe. <br>
                    You can produce a new trained model in the recipe section below</p>
                <p class="mat-body">
                    <i>Please note that both the recipe and its data sources, which have been used for the training, may
                        have changed overtime, thus the models are not equivalent.</i>
                </p>

                <div class="ao-margin-top" style="max-height: 300px; overflow: auto;">
                    <table mat-table [dataSource]="tableModels" class="mat-elevation-z8" style="width: 100%;">

                        <ng-container matColumnDef="title">
                            <th mat-header-cell *matHeaderCellDef> Title </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.attributes.title || element.id}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="kpi0">
                            <th mat-header-cell *matHeaderCellDef> KPI </th>
                            <td mat-cell *matCellDef="let element">
                                <p *ngFor="let kpi of element._aoprivate.kpi">
                                    {{kpi.name}}: {{kpi.value}}
                                </p>

                            </td>
                        </ng-container>

                        <ng-container matColumnDef="updatedAt">
                            <th mat-header-cell *matHeaderCellDef> Updated At </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.attributes.updated_at | date:'dd/MM/yyyy HH:mm:ss'}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="endpoint">
                            <th mat-header-cell *matHeaderCellDef> Endpoint </th>
                            <td mat-cell *matCellDef="let element">
                                <a mat-button (click)="$event.preventDefault(); $event.stopPropagation();" *ngIf="element._aoprivate.endpoints.length > 0"
                                    routerLink="/endpoints/{{element._aoprivate.endpoints[0].id}}">{{element._aoprivate.endpoints[0].attributes.title || element._aoprivate.endpoints[0].id}}</a>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="actions">
                            <th mat-header-cell *matHeaderCellDef> Actions </th>
                            <td mat-cell *matCellDef="let element">
                                <button mat-raised-button color="primary"
                                    *ngIf="element._aoprivate.endpoints.length === 0"
                                    (click)="$event.stopPropagation(); $event.preventDefault(); createEndpointForModel(element); ">Create
                                    endpoint</button>
                            </td>
                        </ng-container>

                        <tr mat-header-row
                            *matHeaderRowDef="['title', 'kpi0', 'updatedAt', 'endpoint', 'actions']; sticky: true">
                        </tr>
                        <tr mat-row
                            *matRowDef="let row; columns: ['title', 'kpi0', 'updatedAt', 'endpoint', 'actions'];"
                            routerLink="/models/{{row.id}}" class="ao-clickable">
                        </tr>
                    </table>
                </div>
            </section>
            <section id="ao-page-link-recipe-pipeline">
                <h2 class="mat-h2">Recipe</h2>
                <p class="mat-body">You can build your recipe using the plugins on the right.
                    <br>
                    Drag and drop, move and delete the plugins to build your recipe.
                </p>
                <p class="mat-body">
                    When it is perfect, hit the "Train new model" button below.
                </p>
                <ng-template app-ao-anchor></ng-template>
                <div style="margin: 20px auto;" class="ao-text-center">
                    <!-- save button -->
                    <button mat-raised-button (click)="save()" style="margin: 10px">Save recipe</button>

                </div>

                <div style="margin: 20px auto;" class="ao-text-center">

                    <!-- Process button -->
                    <button mat-raised-button (click)="train()" style="margin: 10px" color="primary">Train new model
                        <mat-progress-spinner mode="indeterminate" *ngIf="isProcessing" [diameter]="20"
                            [strokeWidth]="4">
                        </mat-progress-spinner>
                    </button>
                </div>

            </section>
        </div>

    </mat-sidenav-content>
    <mat-sidenav mode="side" position="end" [opened]="true" class="ao-recipe-view-sidenav sidenav">
        <div class="" cdkDropList [cdkDropListConnectedTo]="['ao-plugin-destination']" [cdkDropListData]="plugins">
            <div *ngFor="let plugin of plugins" cdkDrag class="ao-new-plugin">
                <mat-card>
                    {{plugin.name.replace('analitico.plugin.', '')}}
                </mat-card>
            </div>
        </div>
    </mat-sidenav>
</mat-sidenav-container>