<div>
    <div class="ao-nav-list-item">
        <a routerLink="{{url}}" routerLinkActive="active" 
            [routerLinkActiveOptions]="{exact: true}" title="{{title}}" (dblclick)="toggleList()">
            <mat-icon (click)="toggleList();" class="ao-arrow-icon">
                {{isCollapsed ? 'arrow_right' : 'arrow_drop_down'}}
            </mat-icon>
             <mat-icon *ngIf="icon" class="ao-icon">
                {{icon}}
            </mat-icon>
            {{title}}
        </a>
    </div>
    <div class="ao-nav-list-children" [class.ao-collapsed]="isCollapsed">
        <div *ngFor="let item of items" class="ao-nav-list-item">
            <a routerLink="{{url}}/{{item.id}}" routerLinkActive="active"
                title="{{(item.attributes && item.attributes.title) || item.id}}">
                {{(item.attributes && item.attributes.title) || item.id}}
            </a>
        </div>
    </div>
</div>