db.sqlite3
__pycache__
*/*.pyc
__pycache__/*.pyc
catboost_info
_*.pyx
*.pyc
*.cbm
.ipynb_checkpoints
venv
*.csv
**/.ropeproject

/source/venv
/source/django

source/website/settings_secrets.py
source/.pytest_cache/v/cache/stepwise
source/.pytest_cache/v/cache/lastfailed
source/.pytest_cache/v/cache/nodeids

htmlcov
.coverage
.DS_Store
