db.sqlite3
__pycache__
*/*.pyc
__pycache__/*.pyc
catboost_info
_*.pyx
*.pyc
*.cbm
.ipynb_checkpoints
venv
**/.ropeproject
.idea

/source/venv
/source/django

source/static
source/website/settings_secrets.py
.pytest_cache

htmlcov
.coverage
.DS_Store
data.csv
