
# This file tells systemd how to launch gunicorn as a service, see:
# https://docs.gunicorn.org/en/latest/deploy.html
#
# Should be copied or symlinked to:
# /etc/systemd/system/gunicorn.service
# sudo ls -s /home/www/analitico/conf/systemd/gunicorn.service /etc/systemd/system/gunicorn.service

[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
PIDFile=/run/gunicorn/pid
User=www-data
Group=www-data
RuntimeDirectory=gunicorn
WorkingDirectory=/home/www/analitico/source
ExecStart=/home/www/analitico/venv/gunicorn --pid /run/gunicorn/pid   \
          --bind unix:/run/gunicorn/socket website.wsgi
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
