<ng-container>
    <mat-toolbar color="primary" class="ao-toolbar">
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
            <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span class="ao-logo ao-logo-font ao-main-nav-logo">
            <a routerLink="/">analitico<sup>ai</sup></a>
        </span>
        <div class="ao-spacer"></div>
        <mat-select placeholder="Workspace" [(ngModel)]="selectedWorkspace" (selectionChange)="changedWorkspace()" class="ao-toolbar-workspace-selector">
            <mat-option *ngFor="let workspace of workspaces" [value]="workspace">
                {{(workspace.attributes && workspace.attributes.title) || workspace.id}}
            </mat-option>
        </mat-select>
        <a mat-mini-fab routerLink="/profile">{{ userInitial }}</a>
    </mat-toolbar>
    <mat-sidenav-container class="sidenav-container">
        <mat-sidenav #drawer class="sidenav" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
            [opened]="!(isHandset$ | async)">
            <!--<mat-nav-list (click)="drawer.close()"> -->
            <div class="ao-padding ao-left-side-nav">
                <div class="ao-margin-bottom">
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Datasets
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <input [(ngModel)]="datasetTitle" type="text">
                        <button (click)="createDataset()">new dataset</button>
                        <app-ao-nav-list-from-url [url]="'/datasets'" [filter]="workspaceFilter" [sort]="sortByCreatedAtDescFunction"></app-ao-nav-list-from-url>
                    </mat-expansion-panel>
                </div>

                <div class="ao-margin-top-bottom">
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Recipes
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <app-ao-nav-list-from-url [url]="'/recipes'" [filter]="workspaceFilter" [sort]="sortByCreatedAtDescFunction"></app-ao-nav-list-from-url>
                    </mat-expansion-panel>
                </div>

                <div class="ao-margin-top-bottom">
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Models
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <app-ao-nav-list-from-url [url]="'/models'" [filter]="workspaceFilter" [sort]="sortByCreatedAtDescFunction"></app-ao-nav-list-from-url>
                    </mat-expansion-panel>
                </div>


                <div class="ao-margin-top-bottom">
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Endpoints
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <app-ao-nav-list-from-url [url]="'/endpoints'" [filter]="workspaceFilter" [sort]="sortByCreatedAtDescFunction"></app-ao-nav-list-from-url>
                    </mat-expansion-panel>
                </div>
            </div>

        </mat-sidenav>
        <mat-sidenav-content>
            <ng-content (click)="drawer.close()"></ng-content>
        </mat-sidenav-content>
    </mat-sidenav-container>
</ng-container>