##
## Include packages supported but not present in the Anaconda3 image or
## other required packages at the last available version.
##
## The supported list of packages in the Anaconda3 can be found here:
## https://docs.anaconda.com/anaconda/packages/py3.7_linux-64/
## Note: if the column `in installer` is not checked then the package
## at the specified version is supported but not present in the image.
##

## Required by serverless
# Flask is already installed in the base image
gunicorn==19.9.0
flask-cors==3.0.8
# No specific version for the sdk package because we are young 
# and we want to keep the image updated to the last version
analitico

## Required by job run
requests==2.22.0
papermill==1.0.1

## Required by Jupyter
# Extension for displaying resource usage (https://github.com/yuvipanda/nbresuse)
nbresuse==0.3.2
tensorflow==2.0.1
# it works with tf 2.0.x
tensorflow-data-validation==0.15.0

## Required by SDK
simplejson==3.16.0
catboost==0.15.2
numpy==1.21.0
pandas==0.25.3
pyarrow==0.15.1