.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 10%;
}

@media (min-width: 768px) {
    .sidenav {
        width: 20%;
    }
}

.ao-upload-drop-zone{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    text-align: center;
    z-index: 1;
    
}
.ao-upload-drop-zone span{
    opacity: 0.6;
    margin-top: 40px;
}

.ao-upload-drop-zone .material-icons{
    margin: 100px auto 0 auto;
    display: block;
    width: 80px;
    font-size: 80px;
    opacity: 0.2;
}