<div class="ao-padding">
    <h3>Models</h3>
    <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutGap="14px" fxLayoutAlign="start">
        <app-ao-item-view [item]="item" type="preview" *ngFor="let item of topItems" fxFlex="0 1 calc(25% - 14px)">
        </app-ao-item-view>
    </div>
    <div style="margin: 40px 0; float:right;">
            <a mat-mini-fab class="ao-add-item-button">
                <i class="material-icons" (click)="addItem()">
                    add
                </i>
            </a>
        </div>
    <div>
        <table mat-table [dataSource]="tableDS" matSort class="mat-elevation-z8" style="width: 100%;">


            <ng-container matColumnDef="attributes.title">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
                <td mat-cell *matCellDef="let element">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="{{element.id}}" [(ngModel)]="element.attributes.title"
                            (change)="changeItemTitle(element, $event)" (click)="$event.stopPropagation()">
                    </mat-form-field>
                </td>
            </ng-container>


            <ng-container matColumnDef="attributes.recipe_id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Recipe </th>
                <td mat-cell *matCellDef="let element" routerLink="/recipes/{{element.attributes.recipe_id}}">
                    {{element.attributes.recipe_id}} </td>
            </ng-container>


            <ng-container matColumnDef="attributes.created_at">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Created At </th>
                <td mat-cell *matCellDef="let element"> {{element.attributes.created_at | date:'medium'}} </td>
            </ng-container>


            <ng-container matColumnDef="attributes.training.scores.best_score.learn.RMSE">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Score </th>
                <td mat-cell *matCellDef="let element">
                    {{element.attributes.training && element.attributes.training.scores.best_score.learn.RMSE}}
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" routerLink="./{{row.id}}" class="ao-clickable">
            </tr>
        </table>
    </div>
</div>