<div class="ao-padding">
    <h3>Models</h3>
    <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutGap="14px" fxLayoutAlign="start">
        <mat-card *ngFor="let model of topItems" fxFlex="0 1 calc(25% - 14px)" class="ao-card">
            <mat-card-content>
                <p>
                    <b> {{(model.attributes && model.attributes.title) || model.id}}</b>
                </p>
                <p>
                    Best score: <b>{{model.attributes && model.attributes.training && model.attributes.training.scores &&
                        model.attributes.training.scores.best_score.learn.RMSE}}</b>
                </p>
            </mat-card-content>
        </mat-card>
    </div>

    <div>
        <table mat-table [dataSource]="tableDS" matSort class="mat-elevation-z8" style="width: 100%;">


            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <ng-container matColumnDef="attributes.title">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
                <td mat-cell *matCellDef="let element"> {{element.attributes.title}} </td>
            </ng-container>


            <ng-container matColumnDef="attributes.recipe_id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Recipe </th>
                <td mat-cell *matCellDef="let element"> {{element.attributes.recipe_id}} </td>
            </ng-container>


            <ng-container matColumnDef="attributes.created_at">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Created At </th>
                <td mat-cell *matCellDef="let element"> {{element.attributes.created_at | date:'medium'}} </td>
            </ng-container>


            <ng-container matColumnDef="attributes.training.scores.best_score.learn.RMSE">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Score </th>
                <td mat-cell *matCellDef="let element"> {{element.attributes.training && element.attributes.training.scores.best_score.learn.RMSE}}
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" routerLink="./{{row.id}}" class="ao-clickable"></tr>
        </table>
    </div>
</div>