<mat-card class="ao-item-list-view ao-model-list-view" routerLink="{{route}}">
    <div class="container" fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="14px" fxLayoutAlign="start">
        <div fxFlex="0 1 calc(25% - 14px)">
            <p>
                {{title}}
            </p>
           

        </div>
        <div fxFlex="0 1 calc(25% - 14px)">
            <p><a mat-button routerLink="/recipes/{{item.attributes.recipe_id}}">
                    {{item.attributes.recipe_id}}
                </a>
            </p>
            <p>
                {{item.attributes.training.algorithm}}
            </p>

        </div>
        <div fxFlex="0 1 calc(25% - 14px)">
            <p>{{item.attributes.updated_at | date:'dd-MM-yyyy HH:mm:ss'}}</p>
        </div>
        <div fxFlex="0 1 calc(25% - 14px)" style="text-align: right;">
            <div *ngIf="key1Value !== undefined && key1Value !== null" class="ao-list-view-key1">
                <p>{{key1Name}}</p>
                <p style="font-size:20px;">{{key1Value}}</p>
                <mat-progress-bar mode="determinate" value="{{(1-key1Value)*100}}" *ngIf="key1Value"></mat-progress-bar>
            </div>
        </div>
    </div>
    <div class="ao-item-list-view-more" [matMenuTriggerFor]="menu"
        (click)="$event.preventDefault(); $event.stopPropagation()">
        <i class="material-icons">
            more_horiz
        </i>
    </div>
    <mat-menu #menu="matMenu">
        <button mat-menu-item>delete</button>
    </mat-menu>
</mat-card>