<div class="ao-endpoint-view ao-padding">
    <section>
        <h1 class="mat-h1" style="margin-bottom: 60px;">{{title}}</h1>
        <p *ngIf="description">{{description}}}</p>
        <mat-form-field *ngIf="item && item.attributes">
            <mat-label>Description</mat-label>
            <textarea matInput [(ngModel)]="item.attributes.description" (ngModelChange)="saveItem();"
                placeholder="Type a description for your endpoint"></textarea>
        </mat-form-field>
    </section>
    <section>
        <p class="mat-body">Endpoint url</p>
        <p class="mat-body">
            <code>{{endpointUrl}}</code>
        </p>
        <p class="mat-body" *ngIf="recipe">This endpoint is using a trained model base on this recipe: <a mat-button routerLink="/recipes/{{recipe.id}}">{{ (recipe.attributes.title || recipe.id)}}</a>

        </p>

    </section>
    <section>
        <h2 class="mat-h2">Available models</h2>
        <p class="mat-body">This is the list of all the available trained models for this endpoint. <br>
            The currently deployed model is highlighted in <span class="ao-current-endpoint-model"
                style="display: inline-block; padding: 4px;">this color</span>.</p>
        <p class="mat-body">
            You can deploy another model using the   <button mat-raised-button color="primary" 
            >Deploy</button> button next to the desired model.
        </p>
        <div class="ao-margin-top" style="max-height: 300px; overflow: auto;">
            <table mat-table [dataSource]="tableModels" class="mat-elevation-z8" style="width: 100%;"
                *ngIf="tableModels">

                <ng-container matColumnDef="title">
                    <th mat-header-cell *matHeaderCellDef> Title </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.attributes.title || element.id}}
                    </td>
                </ng-container>
   
                <ng-container matColumnDef="kpi0">
                    <th mat-header-cell *matHeaderCellDef> KPI </th>
                    <td mat-cell *matCellDef="let element">
                        <p *ngFor="let kpi of element._aoprivate.kpi">
                            {{kpi.name}}: {{kpi.value}}
                        </p>

                    </td>
                </ng-container>

                <ng-container matColumnDef="updatedAt">
                    <th mat-header-cell *matHeaderCellDef> Updated At </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.attributes.updated_at | date:'dd/MM/yyyy HH:mm:ss'}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> Actions </th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-raised-button color="primary" (click)="requestToSetNewModel(element, $event)"
                            *ngIf="element.id !== model.id">Deploy</button>
                    </td>
                </ng-container>

                <tr mat-header-row
                    *matHeaderRowDef="['title', 'kpi0', 'updatedAt', 'actions']; sticky: true">
                </tr>
                <tr mat-row *matRowDef="let row; columns: ['title', 'kpi0', 'updatedAt', 'actions'];"
                    routerLink="/models/{{row.id}}" class="ao-clickable"
                    [class.ao-current-endpoint-model]="row.id === model.id">
                </tr>
            </table>
        </div>
    </section>
    <section>
        <h2 class="mat-h2">Test predictions</h2>
        <p class="mat-body">
            You can test your endpoint with sample data, or you can provide your own.<br>
            Click the "Pick some data for me!" button or enter your json input data and the click the    <button mat-raised-button  color="primary">Predict
                </button> button below.
        </p>
        <div class="">
            <p>
                Input
                <button mat-flat-button (click)="selectRandomSample()" style="margin: 10px" color="accent"
                    *ngIf="predictionSamples && predictionSamples.length">Pick some data for me!</button>

            </p>
            <div class="ao-json-editor-container">
                <json-editor [options]="editorOptions" [data]="inputData" #inputEditor></json-editor>
            </div>
        </div>
        <div class="ao-margin-top-bottom ao-text-center">
            <button mat-raised-button (click)="predict()" style="margin: 10px" color="primary">Predict
            </button>

        </div>
        <div class="ao-margin-top-bottom">
            <p>Predictions
                <mat-progress-spinner mode="indeterminate" *ngIf="isProcessing" [diameter]="20" style="display: inline-block; margin-left: 10px; margin-top: 4px; position: relative;
                top: 4px;" [strokeWidth]="4">
                </mat-progress-spinner>
            </p>

            <mat-tab-group>
                <mat-tab label="Table">
                    <ng-template app-ao-anchor>
                        Loading...
                    </ng-template>
                </mat-tab>
                <mat-tab label="JSON">
                    <div class="ao-json-editor-container">
                        <json-editor [options]="predictionEditorOptions" [data]="predictionData"></json-editor>
                    </div>
                </mat-tab>

            </mat-tab-group>
        </div>
    </section>
</div>