<div class="ao-padding">
    <h4 class="mat-h4 ao-text-center">{{title}}</h4>
    <p *ngIf="item && item.attributes">Model <a
            routerLink="/models/{{item.attributes.model_id}}">{{item.attributes.model_id}}</a></p>
    <div class="">
        <div class="ao-margin-top-bottom">
            <p>Input
                <button mat-flat-button (click)="selectRandomSample()" style="margin: 10px" color="accent"
                    *ngIf="predictionSamples && predictionSamples.length">Pick some data for me!</button>

            </p>
            <json-editor [options]="editorOptions" [data]="inputData" #inputEditor></json-editor>
        </div>
        <div class="ao-margin-top-bottom ao-text-center">
            <button mat-raised-button (click)="predict()" style="margin: 10px" color="primary">Predict
            </button>

        </div>
        <div class="ao-margin-top-bottom">
            <p>Prediction <mat-progress-spinner mode="indeterminate" *ngIf="isProcessing" [diameter]="20" style="display: inline-block; margin-left: 10px; margin-top: 4px; position: relative;
                top: 4px;"
                    [strokeWidth]="4">
                </mat-progress-spinner>
            </p>
            <json-editor [options]="predictionEditorOptions" [data]="predictionData"></json-editor>
        </div>


    </div>
</div>