<div class="ao-item-view ao-model-view">

    <div class="container" fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="14px" fxLayoutAlign="start">
        <div *ngIf="featureGraph" fxFlex="0 1 calc(50% - 14px)">
            <h3 class="mat-h3">Features</h3>
            <plotly-plot [data]="featureGraph.data" [layout]="featureGraph.layout"></plotly-plot>
        </div>

        <div *ngIf="confusionMatrixGraph" fxFlex="0 1 calc(50% - 14px)">
            <h3 class="mat-h3">Confusion matrix</h3>
            <plotly-plot [data]="confusionMatrixGraph.data" [layout]="confusionMatrixGraph.layout"></plotly-plot>
        </div>
    </div>



    <div *ngIf="model && model.attributes.training.scores.log_loss">
        <p>Log loss: {{model.attributes.training.scores.log_loss}}</p>
        <p>Accuracy score: {{model.attributes.training.scores.accuracy_score}}</p>
        <p>Best iteration: {{model.attributes.training.scores.best_iteration}}</p>
        <p>Best score: learn: {{model.attributes.training.scores.best_score.learn.Logloss}} / validation:
            {{model.attributes.training.scores.best_score.validation_0.Logloss}}</p>

    </div>


    <div *ngIf="item && item.attributes && item.attributes.training">

        <div>
            <p class="mat-body">
                <b>Plugins</b><br>
                Training: {{item.attributes.training && item.attributes.training.plugins.training}} <br>
                Prediction: {{item.attributes.training && item.attributes.training.plugins.prediction}}<br>
            </p>
            <p class="mat-body">
                <b>Data</b> <br>
                Source records: {{item.attributes.training.data.source_records | number}}<br>
                Training records: {{item.attributes.training.data.training_records | number}}<br>
                Test records: {{item.attributes.training.data.test_records | number}}<br>
                Dropped records: {{item.attributes.training.data.dropped_records | number}}<br>
            </p>
        </div>

        <div *ngIf="item.attributes.training.scores">
            <b>Scores</b>
            <div *ngIf="model.attributes.training.scores.log_loss">
                <p>Log loss: {{item.attributes.training.scores.log_loss}}</p>
                <p>Accuracy score: {{item.attributes.training.scores.accuracy_score}}</p>
                <p>Best iteration: {{item.attributes.training.scores.best_iteration}}</p>
                <p>Best score: learn: {{item.attributes.training.scores.best_score.learn.Logloss}} / validation:
                    {{item.attributes.training.scores.best_score.validation_0.Logloss}}</p>

            </div>


            <div>
                <div>
                    <b>Classes</b>
                    <div *ngFor="let class of item.attributes.training.data.classes">
                        <p><b>{{class}}</b></p>
                        <div
                            *ngFor="let prop of item.attributes.training.scores.classification_report[class] | keyvalue">
                            <p>{{prop.key}}: {{prop.value | json}}</p>
                        </div>

                    </div>
                </div>
                <div style="margin-top: 80px;">
                    <b>Other Classes</b>
                    <div *ngFor="let el of item.attributes.training.scores.classification_report | keyvalue">
                        <div *ngIf="item.attributes.training.data.classes.indexOf(el.key) < 0">
                            <p>{{el.key}}</p>
                            <div
                                *ngFor="let prop of item.attributes.training.scores.classification_report[el.key] | keyvalue">
                                {{prop.key}}: {{prop.value | json}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>



</div>