/* You can add global styles to this file, and also import other style files */
@import "~jsoneditor/dist/jsoneditor.min.css";
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";

.jsoneditor-poweredBy{
    /* hide watermark */
    display: none;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.ao-spacer {
    flex: 1 1 auto;
}

.ao-logo {
    user-select: none;
}

.ao-logo-font {
    font-family: "Space Mono";
}

.ao-main-nav-logo {
    font-size: 28px;
    font-weight: 400;
    margin-left: 10px;
    position: relative;
    top: -3px;
}

.ao-main-nav-logo a {
    color: #ffffff !important;
    text-decoration: none;
}

.ao-side-nav-logo {
    font-size: 28px;
    font-weight: 400;
    margin-left: 0;
    position: relative;
    top: -3px;
}

.ao-side-nav-logo a {
    color: #000000 !important;
    text-decoration: none;
}


.ao-logo sup{
    font-size: 12px;
    position: relative;
    top: -8px;
}

/* remove backdrop when opening drawer*/
.mat-drawer-backdrop {
    opacity: 0;
}

.sidenav-container {
    height: 100%;
}


.ao-pipeline-plugin{
    border: 1px solid #eeeeee;
}

.ao-text-center{
    text-align: center;
}

.ao-padding{
    padding: 30px;
}

.ao-padding-10{
    padding: 10px;
}


.ao-margin-top-bottom{
    margin: 40px 0;
}

.ao-margin-bottom{
    margin-bottom: 40px;
}

.ao-plugin-container{
    margin: 30px auto;
}

.ao-upload-drop-zone{
    width: 80%;
    min-height: 200px;
    border: 1px solid #eeeeee;
}

.ao-upload-queue{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    max-height: 400px;
    padding: 40px;
    background-color: #ffffff;
    overflow-y: auto;
    z-index: 2;
    border: 1px solid #eeeeee;
}

.ao-upload-queue button{
    display: none;
}

.ao-left-side-nav a{
    font-size: 14px !important;
}

.ao-toolbar-workspace-selector{
    width: 200px !important;
    margin-right: 40px;
    font-size: 14px;
    text-align: right;
}

.ao-toolbar-workspace-selector .mat-select-value{
    padding-right: 8px;
}