/* You can add global styles to this file, and also import other style files */
@import "~jsoneditor/dist/jsoneditor.min.css";
.jsoneditor-poweredBy{
    /* hide watermark */
    display: none;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.ao-spacer {
    flex: 1 1 auto;
}

.ao-logo {
    user-select: none;
}

.ao-logo-font {
    font-family: "Space Mono";
}

.ao-main-nav-logo {
    font-size: 28px;
    font-weight: 400;
    margin-left: 10px;
    position: relative;
    top: -3px;
}

.ao-main-nav-logo a {
    color: #ffffff !important;
    text-decoration: none;
}

.ao-side-nav-logo {
    font-size: 28px;
    font-weight: 400;
    margin-left: 0;
    position: relative;
    top: -3px;
}

.ao-side-nav-logo a {
    color: #000000 !important;
    text-decoration: none;
}


.ao-logo sup{
    font-size: 12px;
    position: relative;
    top: -8px;
}

/* remove backdrop when opening drawer*/
.mat-drawer-backdrop {
    opacity: 0;
}


.ao-plugin-container{
    width: 80%;
    margin: 20px auto;
    border: 1px solid #eeeeee;
    min-height: 400px;
}