{% extends "account/base.html" %}
{% load i18n %}
{% load account socialaccount %}
{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<form class="login account-form" method="POST" action="{% url 'account_login' %}">
  <div class="mdl-grid">

    <div class="mdl-cell mdl-cell--12-col">
      <h1 class="title">Welcome back</h1>
      <div class="subtitle">Sign in using your email</div>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="email" name="login" autofocus="autofocus" required id="id_login">
        <label class="mdl-textfield__label" for="id_login">Email</label>
      </div>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="password" name="password" placeholder="Password" required
          id="id_password">
        <label class="mdl-textfield__label" for="id_login">Password</label>
      </div>
      <div style="text-align: right;"><a class="account-gray-link subtitle1"
          href="{% url 'account_reset_password' %}">{% trans "Did you forget your password?" %}</a></div>

      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
    </div>

    {% if form.errors %}
    <!-- Error messaging -->
    <div id="mdl-cell mdl-cell--12-col errors">
      <p>There were some errors in the information you entered. Please correct the following:</p>
      {{ form.non_field_errors }}
      <ul>
        {% for field in form %}
        {% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
        {% endfor %}
      </ul>
    </div>
    <!-- /Error messaging -->
    {% endif %}

    <div class="mdl-cell mdl-cell--6-col">
      <a class="mdl-button mdl-js-button mdl-js-ripple-effect account-item" href="{{ signup_url }}">Create Account</a>
    </div>
    <div class="mdl-cell mdl-cell--6-col">
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored"
        type="submit">Sign In</button>
    </div>

    <div class="mdl-cell mdl-cell--12-col">
      <h4 class="title">Social sign in</h4>
      <div class="subtitle">Quickly log in with your social network</div>
    </div>

    <div class="mdl-cell mdl-cell--6-col">
      <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--colored account-item account-social-button"
        style="background-color: #4285F4" href="/accounts/google/login/?process=login">
        <i class="fab fa-google" style="padding-right: 16px"></i>Google
      </a>
    </div>

    <div class="mdl-cell mdl-cell--6-col">
      <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--colored account-item account-social-button"
        style="background-color: rgb(51, 51, 51);" href="/accounts/github/login/?process=login">
        <i class="fab fa-github" style="padding-right: 16px"></i>GitHub
      </a>
    </div>

  </div>
  {% csrf_token %}
</form>

{% endblock %}