{% extends 'base.html' %}
{% load static %}
{% block content %}

  <h2>Pippo page</h2>
  {% if user.is_authenticated %}
    <p class="display-4">Hello, {{ user.username }}</p>
    <p class="display-4">Hello, {{ user.email }}</p>
  {% else %}
    <a class="lead" href="{% url 'login' %}">Log in</a>
  {% endif %}


  <form action="/api/v1/datasets/ds_test_live_001/assets/ds_test_001.csv" method="post" enctype="multipart/form-data">
    Select images: <input type="file" name="pdf">
    {% csrf_token %}
    <input type="submit">
  </form>




  
{% endblock %}