{% extends "account/base.html" %}
{% load i18n %}
{% load account socialaccount %}
{% block head_title %}{% trans "analitico | sign in" %}{% endblock %}

{% block content %}

<div class="mdl-cell mdl-cell--6-col" style="padding-left: 24px;">

  <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">

    <!-- MDL tab panels, is-active to denote currently active -->
    <div class="mdl-tabs__panel is-active" id="signin-panel">
      <!-- Sign in panel -->
      <h3>{% trans "Log In" %}</h3>

      <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        <!-- {{ form.as_p }} -->

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="email" name="login" autofocus="autofocus" required id="id_login">
          <label class="mdl-textfield__label" for="id_login">Email</label>
        </div>
        <p></p>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="password" name="password" placeholder="Password" required
            id="id_password">
          <label class="mdl-textfield__label" for="id_login">Password</label>
        </div>
        <p></p>

        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="id_remember">
          <input type="checkbox" name="remember" id="id_remember" class="mdl-checkbox__input">
          <span class="mdl-checkbox__label">Remember me</span>
        </label>
        <p></p>

        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}

        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored"
          type="submit">
          {% trans "Sign In" %}
        </button>

      </form>

      <div><a href="{% url 'account_reset_password' %}">{% trans "Did you forget your password?" %}</a></div>
      <div><a href="{{ signup_url }}">Need an account?</a></div>


      <h4>Social Login</h4>
      <h6>Quickly sign in with your social network</h6>

      <p>
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--colored"
          style="background-color: #4285F4" onclick="window.location.href='/accounts/google/login/?process=login'">
          <i class="fab fa-google" style="padding-right: 16px"></i>Sign in with Google
        </button>
      </p>
      <p>
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--colored"
          style="background-color: rgb(51, 51, 51)"
          onclick="window.location.href='/accounts/github/login/?process=login'">
          <i class="fab fa-github" style="padding-right: 16px"></i>Sign in with GitHub
        </button>
      </p>
      <p>
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--colored"
          style="background-color: rgb(0, 103, 184)"
          onclick="window.location.href='/accounts/windowslive/login/?process=login'">
          <i class="fab fa-windows" style="padding-right: 16px"></i>Sign in with Microsoft
        </button>
      </p>

    </div>

    <!-- MDL Tab panel 2 -->
    <div class="mdl-tabs__panel" id="signup-panel">
      <h4>Sign up</h4>
      The signup form

    </div>

    <!-- tabs are attached to the bottom of the panel -->
    <div class="mdl-cell--stretch mdl-cell--bottom mdl-tabs__tab-bar">
      <a href="#signin-panel" class="mdl-tabs__tab is-active">Log in</a>
      <a href="#signup-panel" class="mdl-tabs__tab">Sign up</a>
    </div>

  </div>

</div>

{% endblock %}