<div class="ao-home-view">
    <div class="ao-padding">
        <div *ngIf="!query">
            <a mat-raised-button (click)="createNewRecipe()" color="primary" style="margin: 0 auto; display: block; width: 200px;">
                Start new recipe
            </a>

            <div class="ao-margin-top-bottom">
                <h1 class="mat-h1">Recipes</h1>
                <app-ao-group-ws-view [url]="'/recipes'"></app-ao-group-ws-view>
            </div>
            <div class="ao-margin-top-bottom">
                <h1 class="mat-h1">Datasets</h1>
                <app-ao-group-ws-view [url]="'/datasets'"></app-ao-group-ws-view>
            </div>
        </div>
        <div *ngIf="query">
            <h1 class="mat-h1">Search: {{query}}</h1>
            <div class="ao-margin-top">
                <table mat-table [dataSource]="tableDS" matSort class="mat-elevation-z8" style="width: 100%;">
                    <ng-container matColumnDef="type">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
                        <td mat-cell *matCellDef="let element" title="{{element.type}}">
                            {{element.type}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="attributes.title">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
                        <td mat-cell *matCellDef="let element" title="{{element.id}}">
                            {{element.attributes.title || element.id}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="attributes.updated_at">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Updated At </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.attributes.updated_at | date:'dd/MM/yyyy HH:mm:ss'}}
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                        routerLink="{{row.links.self.substring(row.links.self.indexOf('/api/') + 4)}}"
                        class="ao-clickable">
                    </tr>
                </table>
            </div>
        </div>
    </div>


</div>