<div class="ao-padding">
    <h1 class="mat-h1" style="text-transform: capitalize;">{{baseUrl.substring(1)}}</h1>

    <div class="ao-margin-top">
        <table mat-table [dataSource]="tableDS" matSort class="mat-elevation-z8" style="width: 100%;">

            <ng-container matColumnDef="attributes.title">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
                <td mat-cell *matCellDef="let element" title="{{element.id}}">
                    {{element.attributes.title || element.id}}
                </td>
            </ng-container>

            <ng-container matColumnDef="attributes.updated_at">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Updated At </th>
                <td mat-cell *matCellDef="let element"> {{element.attributes.updated_at | date:'dd/MM/yyyy HH:mm:ss'}}
                </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let element">

                    <button mat-icon-button [matMenuTriggerFor]="menu" class="ao-group-ws-table-delete-button"
                        (click)="$event.preventDefault(); $event.stopPropagation();">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="deleteItem(element, $event)">
                            <mat-icon>delete</mat-icon>
                            <span>delete</span>
                        </button>
                    </mat-menu>


                    <mat-progress-spinner mode="indeterminate" [class.ao-invisible]="!element.isProcessing"
                        [diameter]="22" [strokeWidth]="2">
                    </mat-progress-spinner>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" routerLink="./{{row.id}}" class="ao-clickable">
            </tr>
        </table>
    </div>
</div>